<!-- <div class="block">
  <a class="button">Button</a>
  <a class="button is-white">White</a>
  <a class="button is-light">Light</a>
  <a class="button is-dark">Dark</a>
  <a class="button is-black">Black</a>
  <a class="button is-link">Link</a>
</div> -->

<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
    </a>
  </div>

  <div class="nav-center">
    <a class="nav-item">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item">
      <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    <p class="navbar-text pull-right">
      <% if supplier_signed_in?  %>
      <%= link_to "Menu","/suppliers/2", :class => 'navbar-link' %>
      <%= link_to "Logout", supplier_registration_path, class: "navbar-link", method: :delete %>
        <% else %>
        <%= link_to "Register a Business", new_supplier_registration_path, :class => 'navbar-link' %>
      <% end %>
</p>
  </div>
</nav>
