/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "variables";
 @import "bulma";
 @import "font-awesome-sprockets";
 @import "font-awesome";

           //Nav Bar

      .nav {
        background-color: $navbarcolor;
      }

      .nav{
        padding-bottom: 10px;
        margin:0px;
      }
      .nav-left h1 {
        color:white;
        font-size : 20px;
      }

      .nav-right , nav-menu {
        font-size: 120%;
        float :right;
        margin: 0 auto;



      }

      .navbar-link {
        color:white;
        padding: 20px 20px 0px 20px;

      }

      .hero{
        background: url('/images/rootpageicecream3.jpg');

      }







            #right-panel {
                   font-family: 'Roboto','sans-serif';
                   line-height: 30px;
                   padding-left: 10px;
                 }

                 #right-panel select, #right-panel input {
                   font-size: 15px;
                 }

                 #right-panel select {
                   width: 100%;
                 }

                 #right-panel i {
                   font-size: 12px;
                 }
                 html, body {
                   height: 100%;
                   margin: 0;
                   padding: 0;
                 }
                 #map {
                   height: 100%;
                   width: 50%;
                 }
                 #right-panel {
                   float: right;
                   width: 48%;
                   padding-left: 2%;
                 }
                 #output {
                   font-size: 11px;
                 }

      .column.is-half {
        width:20%;
      }

      #imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
