<h1>Search#index</h1>


<form accept-charset="UTF-8" action="/transactions/search" method="get">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <label for="q">Search for:</label>
  <input class = 'input' id="field" name="field" type="text" />
  <input class = 'button is-info' name="commit" type="submit" value="Search" />
</form>

<form accept-charset="UTF-8" action="/transactions/location_search" method="get">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input class = 'button is-info' name="commit" type="submit" value="Search by current location" />
</form>


<div class="column"></div>

<div id = 'searched' class="columns">

</div>



<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        The ice-cream man is here..
      </h1>
      <h2 class="subtitle">
          pee pooo peee pooo
      </h2>
      <% if user_signed_in? %>
      <%= render 'delivery_address/add_delivery_address' %>
          <%= render 'delivery_address/show_delivery_address' %>
    </div>

    <% end %>


  </div>
  <div class="tabs is-centered">
</div>
</section>

<div class="column"></div>
