<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        The ice-cream man is here..
      </h1>
      <h2 class="subtitle">
          pee pooo peee pooo
      </h2>
    </div>
  </div>
  <div class="tabs is-centered">
</div>
</section>

<div class="column"></div>

<div class="columns">
<% @suppliers.each do |supplier|  %>

  <div class="column is-half is multiline">
    <p class="notification is-info">
      <code class="html"><%= supplier.name %></code>
    </p>
  </div>
<% end  %>
</div>
