<h1>Search#index</h1>

<form accept-charset="UTF-8" action="/suppliers" method="get">
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" id="field" name = "field" class="form-control"  placeholder="Search by name or neighborhood" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</form>




<div class="column"></div>

<div id = 'searched' class="columns">

</div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      var map, infoWindow;
      function initMap() {

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            gon.suppliers.forEach(function(supplier){

              var distance = google.maps.geometry.spherical.computeDistanceBetween(new google.maps.LatLng({lat: pos.lat, lng: pos.lng}), new google.maps.LatLng({lat: supplier.lat, lng: supplier.lng})) / 1000
              if (distance <5){

                var $target = $('#searched')
                  // creation of the div
                  var $new_restaurant_link = $('<a href="/suppliers/"'+ supplier.id +' class="column is-half is multiline">')
                  var $new_restaurant_div = $('<div id='+ supplier.id +'>')
                  var $new_restaurant_p = $('<p class="notification is-info">')
                  var $new_restaurant_p_code = $('<code class="html">'+  supplier.name +'</code>')

                  $new_restaurant_p_code.text(supplier.name)
                  $new_restaurant_p.append($new_restaurant_p_code)
                  $new_restaurant_div.append($new_restaurant_p)
                  $new_restaurant_link.append($new_restaurant_div)
                  $target.append($new_restaurant_link)
              }
            })
          });
        }
      }

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb2ofRZ6CYSwvlrBc0do9tCkR9U89VxCM&libraries=geometry&callback=initMap"></script>
