
<section class="hero">
  <div class="hero-body">

      <h1 class="title">
        The ice-cream man is here..
      </h1>
      <h2 class="subtitle">
          pee pooo peee pooo
      </h2>

<div class="wrap">
   <div class="search">
     <form class = "search-form" accept-charset="UTF-8" action="/suppliers" method="get">
     <input type="text" id="field" name = "field" class="searchTerm" placeholder="Search by name or neighborhood" >
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </form>
   </div>






<div class="container">


<div class="column"></div>

<div id = 'searched' class="columns">

</div>
</div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      var map, infoWindow;
      function initMap() {

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            gon.suppliers.forEach(function(supplier){

              var distance = google.maps.geometry.spherical.computeDistanceBetween(new google.maps.LatLng({lat: pos.lat, lng: pos.lng}), new google.maps.LatLng({lat: supplier.lat, lng: supplier.lng})) / 1000
              if (distance <5){

                var $target = $('#searched')
                  // creation of the div

                  var $new_restaurant_link = $('<a href="/suppliers/'+ supplier.id +'" class="column is-centered is-one-third is-multiline">')
                  var $new_restaurant_div = $('<div id='+ supplier.id +'>')
                  var $new_restaurant_p = $('<p class="notification is-info">')
                  var $new_restaurant_p_code = $('<code class="html">'+  supplier.name +'</code>')

                  $new_restaurant_p_code.text(supplier.name)
                  $new_restaurant_p.append($new_restaurant_p_code)
                  $new_restaurant_div.append($new_restaurant_p)
                  $new_restaurant_link.append($new_restaurant_div)
                  $target.append($new_restaurant_link)
              }
            })
          });
        }
      }

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb2ofRZ6CYSwvlrBc0do9tCkR9U89VxCM&libraries=geometry&callback=initMap"></script>
